@font-face {
  font-family: quicksand;
  src: url("../fonts/Quicksand/Quicksand-VariableFont_wght.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Cabin Sketch";
  src: url("../fonts/Cabin_Sketch/CabinSketch-Bold.ttf");
  font-display: swap;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  background: no-repeat url(../media/liquid-cheese.svg);
  background-size: cover;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  margin: auto;
}

.content {
  padding: 2%;
  margin: auto;
  width: 100%;
}

#more {
  display: none;
}

.quehacemos {
  justify-content: center;
  margin: auto;
  width: 90%;
  font-family: quicksand, sans-serif;
}

.intro {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 2em;
  margin: auto;
  margin-bottom: 3%;
  border-radius: 4px;
  width: 100%;
}

.intro p {
  font-family: quicksand, sans-serif;
  font-size: 1.5rem;
  text-align: justify;
  text-justify: distribute;
  hyphens: auto;
}

.list_subsectionTitle {
  background-color: rgba(56, 20, 0, 0.8);
  color: aliceblue;
  text-align: center;
  padding: 1em;
  font-size: 1.5rem;
  font-family: quicksand;
  border-radius: 4px 4px 0 0;
}

/* footer */

.colab_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 4px;
  padding: 2%;
  justify-content: center;
  background-color: white;
  align-items: center;
}

.link {
  width: fit-content;
}

.colabLink {
  margin: 20px;
  width: 300px;
}

.colabLink img {
  width: 100%;
}

#uesc {
  max-width: 60%;
  margin: auto;
}

@media screen and (max-width: 1100px) {
  .quehacemos {
    width: 100%;
  }

  .colabLink {
    margin: 20px;
    width: 150px;
  }
  .link {
    width: fit-content;
  }

  .content {
    padding: 0;
    width: 100%;
  }

  .intro {
    width: 100%;
  }

  .intro p {
    font-size: 1.2rem;
    text-align: left;
    word-break: normal;
  }
}
