@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@200;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  background: no-repeat url(../media/liquid-cheese.svg);
  background-size: cover;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  margin: auto;
}

.styckyActive {
  margin-top: 400px;
}

.content {
  margin: auto;
  width: 100%;
  background-color: rgba(240, 255, 240, 0.144);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  border-radius: 8px;
}

#ref {
  text-decoration: none;
  color: black;
}
#ref:hover {
  color: green;
}

.profiles_wrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: center;
}

#more {
  display: none;
}

.quehacemos {
  justify-content: center;
  margin: auto;
  text-align: justify;
  text-justify: distribute;
  hyphens: auto;
  width: 90%;
  margin: auto;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

.intro {
  font-size: 1.4rem;
  background-color: rgba(255, 255, 255, 0.103);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(1px);
  padding: 3%;
  border-radius: 6px;
  text-align: justify;
  text-justify: distribute;
  hyphens: auto;
}

.list-container {
  background-color: rgba(56, 20, 0, 0.5);
  width: 100%;
  margin: auto;
  border-radius: 6px;
  padding: 2%;
}

.list-container h3 {
  font-size: 2.5rem;
  margin-top: 20px;
  margin-bottom: 10px;
}

.list-container h2 {
  text-align: start;
  margin-top: 2%;
}

.list_sectionTitle h3 {
  color: aliceblue;
  text-align: center;
}

.list_subsectionTitle {
  color: aliceblue;
  text-align: center;
  padding: 5px;
}

/* footer */

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 6px;
  padding: 2%;
  justify-content: center;
  background-color: white;
  align-items: center;
}

.colabLink {
  margin: 20px;
  width: 300px;
}

.colabLink img {
  width: 100%;
}

#uesc {
  max-width: 60%;
  margin: auto;
}

@media only screen and (max-width: 500px) {
  .title {
    font-size: 2rem;
  }
}
