@font-face {
  font-family: quicksand;
  src: url("../fonts/Quicksand/Quicksand-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Cabin Sketch";
  src: url("../fonts/Cabin_Sketch/CabinSketch-Bold.ttf");
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  background: no-repeat url(../media/liquid-cheese.svg);
  background-size: cover;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  margin: auto;
}

.content {
  padding: 2%;
  margin: auto;
  width: 100%;
}

#ref {
  text-decoration: none;
  color: black;
}
#ref:hover {
  color: green;
}

.profiles_wrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: center;
}

#more {
  display: none;
}

.quehacemos {
  justify-content: center;
  margin: auto;
  width: 90%;
  font-family: quicksand, sans-serif;
}

.intro {
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(1px);
  padding: 3%;
  margin: auto;
  margin-bottom: 3%;
  border-radius: 6px;
  width: 90%;
}

.intro p {
  font-family: quicksand, sans-serif;
  font-size: 1.5rem;
  text-align: justify;
  text-justify: distribute;
  hyphens: auto;
}

.list-container {
  background-color: rgba(56, 20, 0, 0.5);
  width: 100%;
  margin: auto;
  border-radius: 6px;
  padding: 2%;
}

.list-container h3 {
  font-size: 2.5rem;
  margin-top: 20px;
  margin-bottom: 10px;
}

.list-container h2 {
  text-align: start;
  margin-top: 2%;
}

.list_sectionTitle h3 {
  color: aliceblue;
  text-align: center;
}

.list_subsectionTitle {
  color: aliceblue;
  text-align: center;
  padding: 5px;
}

/* footer */

.colab_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 6px;
  padding: 2%;
  justify-content: center;
  background-color: white;
  align-items: center;
}

.link {
  width: fit-content;
}

.colabLink {
  margin: 20px;
  width: 300px;
}

.colabLink img {
  width: 100%;
}

#uesc {
  max-width: 60%;
  margin: auto;
}

@media screen and (max-width: 1100px) {
  .quehacemos {
    width: 100%;
  }

  .colabLink {
    margin: 20px;
    width: 150px;
  }
  .link {
    width: fit-content;
  }

  .content {
    padding: 0;
    width: 100%;
  }

  .intro {
    width: 100%;
  }

  .intro p {
    font-size: 1.2rem;
    text-align: left;
    word-break: normal;
  }
}
