@font-face {
  font-family: raleway;
  src: url("../fonts/Raleway/Raleway-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: oswald;
  src: url("../fonts/Oswald/Oswald-Regular.ttf");
  font-display: swap;
}

:root {
  --text-font-size: 1.4rem;
  --section-title-size: calc(1.3rem + 3.6vw);
  --arrow-title-size: 3rem;
  --basic-font: raleway, "sans-serif";
  --title-font: oswald, "sans-serif";
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  background: #c0a342;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  margin: auto;
}

header {
  position: relative;
  background: url("../media/aboutus/bkg-1.jpg") no-repeat;
  background-attachment: fixed;
  background-size: auto;
  padding-bottom: 2em;
}

.title {
  padding: 2em;
}

.title p {
  margin-top: 0;
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 7rem;
  color: #260e00;
  text-align: center;
  margin-bottom: 0;
}

.subtitle {
  margin: auto;
  max-width: 70%;
  margin-top: 4rem;
  margin-bottom: 2em;
}

.subtitle p {
  font-weight: 600;
  text-align: center;
  font-family: var(--title-font);
  font-size: calc(1.3rem + 3.6vw);
  color: #260e00;
}

.separator {
  margin: auto;
  padding-top: 2em;
  width: 50%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.wave-separator {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
}

@media screen and (max-width: 1100px) {
  .subtitle p {
    font-size: calc(1.3rem + 3.6vw);
  }

  .title {
    width: fit-content;
    margin: auto;
    margin-top: 50px;
  }

  .title p {
    font-size: calc(3rem + 3.6vw);
  }
}

#more {
  display: none;
}

.quehacemos {
  margin: auto;
  font-family: raleway, sans-serif;
  padding-bottom: 5em;
}

.intro {
  padding: 2em 5em;
  margin: 3em auto;
  width: 100%;
}

.intro p {
  font-family: raleway, sans-serif;
  font-size: 1.5rem;
  text-align: justify;
  text-justify: distribute;
  hyphens: auto;
}

.list_subsectionTitle h2 {
  background-color: rgba(56, 20, 0, 1);
  color: #fff;
  text-align: center;
  padding: 1em;
  font-size: 2.2rem;
  font-family: raleway, sans-serif;
  font-weight: lighter;
}

.ongoing {
  background-color: rgba(56, 20, 0, 0.5);
}

/* footer */

.colab_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5em;
  justify-content: center;
  background-color: white;
  align-items: center;
  gap: 3em;
}

.link {
  width: fit-content;
  height: auto;
}

.colabLink {
  width: 300px;
  height: auto;
}

.colabLink img {
  width: 100%;
  height: auto;
}

#uesc {
  max-width: 60%;
  height: auto;
  margin: auto;
}

@media screen and (max-width: 1100px) {
  .quehacemos {
    width: 100%;
    height: auto;
  }

  .colab_container {
    width: 100%;
    gap: 2em;
    padding: 1em;
  }

  .colabLink {
    width: 100%;
    height: auto;
  }

  .link img {
    width: 100%;
    height: auto;
  }

  .intro {
    width: 100%;
    height: auto;
  }

  .intro p {
    font-size: 1.2rem;
    text-align: left;
    word-break: normal;
  }
}
