@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@200;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  background: no-repeat url(../media/liquid-cheese.svg);
  background-size: cover;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  margin: auto;
}

.styckyActive {
  margin-top: 400px;
}

.content {
  margin: auto;
  width: 100%;
  background-color: rgba(240, 255, 240, 0.144);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  border-radius: 8px;
}

#ref {text-decoration: none; color:black;}
#ref:hover{
  color:green;
}

.profiles_wrapper{
  display: flex;
  width:100%;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: center;
}

.quehacemos {
  justify-content: center;
  margin: auto;
  text-align: justify;
  text-justify: distribute;
  hyphens: auto;
  width: 90%;
  margin: auto;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

.intro {
  font-size: 1.4rem;
  background-color: rgba(255, 255, 255, 0.103);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(1px);
  padding: 3%;
  border-radius: 6px;
  text-align: justify;
  text-justify: distribute;
  hyphens: auto;
}

.list-container {
  width: 100%;
  margin: auto;
}

.list-container h3 {
  font-size: 2rem;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* footer */

.links_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.colabLink {
  margin: 10px;
  width: 300px;
}

.colabLink img {
  width: 100%;
}

.list_sectionTitle {
  width: 50%;
  margin: auto;
}

.list_sectionTitle h3 {
  text-align: center;
  padding: 5px;
  background-color: rgba(240, 255, 240, 0.144);
  border-radius: 6px;
}

@media only screen and (max-width: 500px) {
  .title {
    font-size: 2rem;
  }
}
