@font-face {
  font-family: raleway;
  src: url("../fonts/Raleway/Raleway-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: oswald;
  src: url("../fonts/Oswald/Oswald-Regular.ttf");
  font-display: swap;
}

:root {
  --text-font-size: 1.4rem;
  --section-title-size: calc(1.3rem + 3.6vw);
  --arrow-title-size: 3rem;
  --basic-font: raleway, "sans-serif";
  --title-font: oswald, "sans-serif";
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  background: #c0a342;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  margin: auto;
}

header {
  background: url("../media/gallery/bkg-1.jpg") no-repeat;
  height: 100vh;
  position: relative;
  background-size: cover;
  background-position: top;
  padding-bottom: 2em;
  margin-top: 30px;
}
.wave-separator {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
}

.bottom-wave-separator {
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 5%);
  z-index: 1;
}

.top-wave-separator {
  width: 100%;
  height: 20px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -5%);
  z-index: 1;
}

.title {
  padding: 2em;
}

.title p {
  font-family: var(--title-font);
  font-weight: 700;
  font-size: calc(7rem + 3.6vw);
  /* color: #260e00; */
  color: #260e00;
  text-align: center;
  margin-top: 10%;
}

.subtitle {
  margin: auto;
  max-width: 70%;
  margin-top: 4rem;
  margin-bottom: 2em;
}

.subtitle p {
  font-weight: 600;
  text-align: center;
  font-family: var(--title-font);
  font-size: calc(1.3rem + 3.6vw);
  color: #260e00;
}

.gallery-subtitle {
  margin: auto;
  max-width: 70%;
  margin-top: 4rem;
  margin-bottom: 2em;
}

.gallery-subtitle p {
  font-weight: 600;
  text-align: center;
  font-family: var(--title-font);
  font-size: calc(1rem + 3.6vw);
  color: #260e00;
}

@media screen and (max-width: 1100px) {
  header {
    height: 300px;
  }

  .subtitle p {
    font-size: calc(1.3rem + 3.6vw);
  }

  .title {
    width: fit-content;
    margin: auto;
    margin-top: 50px;
  }

  .title p {
    font-size: calc(1.3rem + 3.6vw);
  }
}

.collection_wrapper {
  background-color: rgba(38, 14, 0, 0.478);
  height: fit-content;
  padding: 1em;
  box-shadow: 0px 5px 4px;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: 400px 200px;
  grid-gap: 10px;
  grid-auto-flow: dense;
}

.collapsed {
  height: 400px;
  overflow: hidden;
  filter: grayscale();
}

.toggler_button {
  width: 60px;
  margin: auto;
  margin-top: 20px;
}

#toggler_img {
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.644);
  transition: all 0.2s;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.604);
}

#toggler_img:hover {
  box-shadow: 8px 8px 2px rgba(0, 0, 0, 0.304);
}

.less {
  transform: rotate(180deg);
}

.gallery-item {
  width: 100%;
  height: 100%;
  position: relative;
  background: no-repeat url("/media/icons/photo_loading.png");
  background-size: 50%;
  background-position: center;
}

.gallery-item .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 4px;
}

.gallery-item .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.gallery-item:hover .image img {
  transform: scale(1.5);
}

.gallery-item .text {
  opacity: 0;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 25px;
  pointer-events: none;
  z-index: 4;
  transition: 0.3s ease-in-out;
  -webkit-backdrop-filter: blur(5px) saturate(1.8);
  backdrop-filter: blur(5px) saturate(1.8);
  text-align: center;
}

.gallery-item:hover .text {
  opacity: 1;
  animation: move-down 0.3s linear;
  padding: 1em;
  width: 100%;
}

.w-1 {
  grid-column: span 1;
}
.w-2 {
  grid-column: span 2;
}
.w-3 {
  grid-column: span 3;
}
.w-4 {
  grid-column: span 4;
}
.w-5 {
  grid-column: span 5;
}
.w-6 {
  grid-column: span 6;
}

.h-1 {
  grid-row: span 1;
}
.h-2 {
  grid-row: span 2;
}
.h-3 {
  grid-row: span 3;
}
.h-4 {
  grid-row: span 4;
}
.h-5 {
  grid-row: span 5;
}
.h-6 {
  grid-row: span 6;
}

@media screen and (max-width: 500px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
  .w-1,
  .w-2,
  .w-3,
  .w-4,
  .w-5,
  .w-6 {
    grid-column: span 1;
  }
}

@keyframes move-down {
  0% {
    top: 10%;
  }
  50% {
    top: 35%;
  }
  100% {
    top: 50%;
  }
}
