@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap");

/* Basic styling */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  background: no-repeat url(../media/liquid-cheese.svg);
  background-size: cover;
  
  }

body {
  font-family: sans-serif;
  font-size: 16px;
}

header.page-header {
  width: 100%;
  height: 500px;
  background: no-repeat url(../media/portada.JPG);
  background-size: cover;
  background-position: center;
  box-shadow: 2px 2px 3px black;
  margin-bottom: 10px;
}

.container {
  height: 500px;
  display: flex;
  align-items:flex-end;
}

.title {
  font-family: "Cabin Sketch", cursive;
  font-size: 3rem;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
  position: absolute;
  background-color: rgba(56, 20, 0, 0.856);
  padding: 1%;
  border-radius: 0 6px 6px 0;
}

.title-short {
  font-family: "Cabin Sketch", cursive;
  font-size: 4rem;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
}

.subsection{
  font-family: "Cabin Sketch", cursive;
  font-size: 3rem;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
  padding: 1%;
  border-radius: 0 6px 6px 0;
  text-align: center;
}

.logo {
  position: absolute;
  top: 10%;
  left: 2%;
}

.img{
  width: 100%;
  border-radius: 6px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.507);

}



@media only screen and (max-width: 500px) {
  .title {
    font-size: 2rem;
  }
  .title-short {
    display: flex;
  }
}

