@font-face {
  font-family: raleway;
  src: url("../fonts/Raleway/Raleway-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: oswald;
  src: url("../fonts/Oswald/Oswald-Regular.ttf");
  font-display: swap;
}

:root {
  --text-font-size: 1.4rem;
  --section-title-size: calc(1.3rem + 3.6vw);
  --arrow-title-size: 3rem;
  --basic-font: raleway, "sans-serif";
  --title-font: oswald, "sans-serif";
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  background: #ab8300bd;
  animation: fade 1s ease;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  font-family: sans-serif;
  font-size: 16px;
}

.carousel {
  width: 100%;
  height: auto;
}

.carousel img {
  width: 100%;
  height: auto;
  box-shadow: 0px 2px 2px;
  aspect-ratio: attr(width) / attr(height);
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.title-container {
  position: absolute;
  left: 0;
  top: 30vh;
  margin-bottom: 0;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 2em 2em 2em 5em;
  border-radius: 0 6px 6px 0;
}

#sigla {
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 10rem;
  color: #260e00;
  letter-spacing: 5px;
}
#fullTitle {
  font-family: var(--basic-font);
  font-size: 1.9rem;
  text-align: right;
}

.subtitle {
  margin: auto;
  max-width: 70%;
  margin-top: 6rem;
  margin-bottom: 4em;
}

.subtitle p {
  font-weight: 600;
  text-align: center;
  font-family: var(--title-font);
  font-size: calc(1.3rem + 3.6vw);
  color: #260e00;
}

.img {
  width: 100%;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.507);
}

.slideshow-container {
  /* Slideshow container */
  width: 100%;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

@media only screen and (max-width: 1100px) {
  .title-container {
    position: relative;
    left: 0;
    top: 0;
    margin-bottom: 0;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 1em;
    border-radius: 0;
  }

  .title {
    position: relative;
    margin-top: 0;
    border-radius: 0;
    width: 100%;
  }

  #sigla {
    font-size: 5rem;
    text-align: left;
    margin: auto;
  }

  #fullTitle {
    font-size: 1.5rem;
    text-align: left;
    padding: 0;
  }

  .carousel {
    height: fit-content;
  }
}
