/* Basic styling */
@font-face {
  font-family: quicksand;
  src: url("../fonts/Quicksand/Quicksand-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Cabin Sketch";
  src: url("../fonts/Cabin_Sketch/CabinSketch-Bold.ttf");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  background: no-repeat url(../media/liquid-cheese.svg);
  background-size: cover;
}

body {
  font-family: sans-serif;
  font-size: 16px;
}

.carousel {
  width: 100%;
}

#carouselImage {
  width: 100%;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.title {
  font-family: "Cabin Sketch", sans-serif;
  font-weight: bolder;
  font-size: 3.5rem;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
  position: absolute;
  background-color: rgba(56, 20, 0, 0.6);
  padding: 2%;
  border-radius: 0 6px 6px 0;
  top: 60%;
  left: 0;
}

.img {
  width: 100%;
  border-radius: 4px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.507);
}

.background_color {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 3%;
}

.slideshow-container {
  /* Slideshow container */
  width: 80%;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

@media only screen and (max-width: 1100px) {
  .title {
    font-size: 1.5rem;
    position: relative;
    margin-top: 0;
    border-radius: 0;
    margin-top: -5px;
  }

  .carousel {
    height: fit-content;
  }
}
