@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@200;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html {
    background: no-repeat url(../media/liquid-cheese.svg);
    background-size: cover;
  
  }
  
  body {
    font-family: sans-serif;
    font-size: 16px;
  }
  
  .content {
    width: 100%;
    padding: 1%;
    background-color: rgba(240, 255, 240, 0.144);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    margin: auto;
  }
  
  .title {
    background-color: rgba(0, 0, 0, 0.151);
    text-align: center;
    font-family: "Cabin Sketch", cursive;
    font-size: 5rem;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    padding: 3%;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
  }
  
  .subtitle {
    text-align: center;
    font-family: "Cabin Sketch", cursive;
    font-size: 4.5rem;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    padding: 4%;
    background-color: rgba(56, 20, 0,0.9);
    border-radius: 8px;
  }

  .subtitle a{
    text-decoration: none;
    font-family:"Cabin Sketch", cursive;
    color: rgb(255, 255, 255);
  }

/* css for SUBLINKS  */
  .sublink_container {
    display: flex;
    height: 300px;
    margin: auto;
    width: 100%;
  }
  
  .link_card{
    margin: auto;
    text-align: center;
    width: max-content;
  }

  .iconContainer{
    height: 50%;
    margin: auto;
  }
  
  .link_card img{
    height: 100%;
  }
    
  .sublink {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-decoration: none;
    margin: auto;
    color: rgb(0, 0, 0);
    font-size: 150%;
    transition: color 0.5s;
  }
  
  .link_card:hover{
  border-bottom: 1px solid black;
  }

  .sublink:hover{
    color: aliceblue;
  }
  
  .styckyActive{
    margin-top:300px
  }

  .intro{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 1.2rem;
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    padding: 1%;
    border-radius: 6px;
    text-align: justify;
    margin-bottom: 15px;
  }

  .fauna_gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
    
  }

  .maps{
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .maps iframe{
    border-radius: 6px;  
  }



  
  @media only screen and (max-width: 500px) {
    .title {
      font-size: 2rem;
    }
  }
  