@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@200;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  background: no-repeat url(../media/liquid-cheese.svg);
  background-size: cover;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  margin: auto;
}

.styckyActive {
  margin-top: 400px;
}

.content {
  margin: auto;
  width: 100%;
  background-color: rgba(240, 255, 240, 0.144);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  border-radius: 8px;
  padding: 1%;
}

.img {
  width: 100%;
  border-radius: 6px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.507);
}

.styckyActive {
  margin-top: 300px;
}

.intro {
  width: 95%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.24);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(1px);
  border-radius: 6px;
}

.resume {
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.2);
  padding: 3%;
  border-radius: 6px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 1.4rem;
  text-align: justify;
  text-justify: distribute;
  hyphens: auto;
}

.fauna_gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: center;
}

.maps {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 2%;
}

.maps img {
  border-radius: 6px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5),
    2px 4px 4px 1px rgba(0, 0, 0, 0.5);
}

.infoContainer {
  padding: 1%;
  margin: auto;
  margin-top: 1%;
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  color: rgb(0, 0, 0);
  font-family: "M PLUS Rounded 1c", sans-serif;
  background-color: rgba(255, 255, 255, 0.24);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(1px);
  border-radius: 6px;
  justify-content: space-around;
}

.infoContainer article {
  width: fit-content;
  padding: 1%;
  transition: all 0.5s;
}

.titleAndInfo {
  padding: 2%;
  text-align: justify;
  text-justify: distribute;
  hyphens: auto;
  color: aliceblue;
}

.titleAndInfo h2 {
  text-align: right;
}

.infoContainer img {
  width: 300px;
  height: 300px;
  border-radius: 6px;
}

.infoContainer article:hover {
  background-color: rgba(0, 0, 0, 0.456);
  border-radius: 6px;
}

.center {
  margin: auto;
}

@media only screen and (max-width: 500px) {
  .title {
    font-size: 2rem;
  }
}
