@font-face {
  font-family: quicksand;
  src: url("../fonts/Quicksand/Quicksand-VariableFont_wght.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Cabin Sketch";
  src: url("../fonts/Cabin_Sketch/CabinSketch-Bold.ttf");
  font-display: swap;
}

:root {
  --text-font-size: 1.4rem;
  --section-title-size: calc(1.3rem + 3.6vw);
  --arrow-title-size: 3rem;

  --basic-font: quicksand, sans-serif;
  --title-font: "Cabin Sketch", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  background: no-repeat url(../media/liquid-cheese.svg);
  background-size: cover;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  margin: auto;
}

.title {
  padding: 1em;
}

.title p {
  margin-top: 0;
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 7rem;
  color: rgb(255, 255, 255);
  text-align: center;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
  margin-bottom: 0;
}

.subtitle {
  margin: auto;
  max-width: 70%;
  margin-top: 4rem;
  margin-bottom: 2em;
}

.subtitle p {
  text-align: center;
  font-weight: 700;
  font-family: var(--title-font);
  font-size: var(--section-title-size);
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.content {
  margin: auto;
  width: 100%;
}

.img {
  width: 100%;
  border-radius: 4px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.507);
}

.styckyActive {
  margin-top: 300px;
}

.intro {
  width: 100%;
  margin: auto;
  padding: 5em;
  margin-bottom: 3em;
}

.resume {
  padding-bottom: 3em;
  color: rgb(0, 0, 0);
  font-family: var(--basic-font);
  font-size: 1.6rem;
  text-align: justify;
  text-justify: distribute;
  hyphens: auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.fauna_gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: center;
}

.articles_container {
  margin: auto;
  margin-top: 1em;
  width: 100%;
  display: block;
  color: rgb(0, 0, 0);
  font-family: var(--basic-font);
  justify-content: space-around;
}

.articles_container article {
  margin-bottom: 4em;
}

.article_header {
  display: flex;
  align-items: center;
}

.article_title {
  width: 49%;
  text-align: center;
  font-size: var(--arrow-title-size);
}

.arrowinfo {
  padding: 3em;
}

.arrowinfo p {
  font-size: var(--text-font-size);
  column-count: 2;
  text-align: justify;
  text-justify: distribute;
  hyphens: auto;
  padding-top: 1em;
}

.border-line {
  margin: auto;
  width: 40%;
  padding-bottom: 2em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.arrowImgContainer {
  width: 49%;
  overflow: hidden;
  background: rgb(0, 0, 0);
  padding: 5em;
  margin-left: auto;
  margin-right: 0;
  border-radius: 450px 0px 0px 450px;
  transition: all 0.3s;
}

.arrowImgContainer:hover {
  border-left: 10px outset #260e00;
}

.arrowImgContainer img {
  float: right;
  height: 300px;
}

.models3D {
  padding-bottom: 1em;
}

@media screen and (max-width: 1100px) {
  .intro {
    padding: 2em;
  }

  .subtitle {
    max-width: 100%;
    padding: 0;
  }

  .subtitle p {
    font-size: calc(1.2rem + 3.6vw);
    text-align: center;
  }

  .title {
    width: fit-content;
    margin: auto;
    margin-top: 50px;
  }

  .title p {
    font-size: calc(3rem + 3.6vw);
  }

  .resume {
    column-count: 1;
  }

  .article_title {
    width: 100%;
    font-size: calc(1rem + 2.6vw);
    margin-bottom: 1em;
  }

  .article_header {
    display: block;
    align-items: center;
  }

  .arrowImgContainer {
    display: flex;
    width: 100%;
    overflow: hidden;
    background: rgb(0, 0, 0);
    padding: 10px;
    margin: auto;
    border-radius: 0;
  }

  .arrowImgContainer a {
    float: none;
    margin: auto;
  }

  .arrowImgContainer a img {
    width: 100%;
    height: auto;
  }

  .arrowinfo p {
    column-count: 1;
  }
}
