@font-face {
  font-family: raleway;
  src: url("../fonts/Raleway/Raleway-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: oswald;
  src: url("../fonts/Oswald/Oswald-Regular.ttf");
  font-display: swap;
}
:root {
  --text-font-size: 1.4rem;
  --section-title-size: calc(1.3rem + 3.6vw);
  --arrow-title-size: 3rem;
  --basic-font: raleway, "sans-serif";
  --title-font: oswald, "sans-serif";
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  background: #ab8300bd;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  margin: auto;
}

header {
  height: 100vh;
  position: relative;
  background: url("../media/interactive/lascasyherramientascom.jpeg") no-repeat;
  background-size: cover;
  background-position: top;
  padding-bottom: 2em;
}
.title {
  padding: 2em;
  margin-top: 10vh;
}

.title p {
  font-family: var(--title-font);
  font-weight: 700;
  font-size: calc(6rem + 3.6vw);
  color: #ab8300;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.6);
  text-align: center;
  margin-bottom: 0;
}

.subtitle {
  margin: auto;
  max-width: 70%;
  padding: 4em;
}

.subtitle p {
  font-weight: 600;
  text-align: center;
  font-family: var(--title-font);
  font-size: calc(1.3rem + 3.6vw);
  color: #260e00;
}

.separator {
  margin: auto;
  padding-top: 2em;
  width: 50%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.wave-separator {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
}

.styckyActive {
  margin-top: 300px;
}

.intro {
  padding: 2em 5em;
  margin: auto;
  width: 100%;
}

.intro p {
  font-family: raleway, sans-serif;
  font-size: 1.5rem;
  text-align: justify;
  text-justify: distribute;
  hyphens: auto;
}

.fauna_gallery {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1em;
  justify-content: center;
  gap: 20px;
  padding: 1em 5em;
}

.active-fauna-item {
  order: -1;
}

.articles_container {
  margin: auto;
  margin-top: 1em;
  width: 100%;
  display: block;
  color: rgb(0, 0, 0);
  font-family: var(--basic-font);
  justify-content: space-around;
}

.articles_container article {
  margin-bottom: 4em;
}

.article_header {
  display: flex;
  align-items: center;
}

.article_title {
  width: 49%;
  text-align: center;
  font-size: var(--arrow-title-size);
}

.arrowinfo {
  padding: 3em;
}

.arrowinfo p {
  font-size: var(--text-font-size);
  column-count: 2;
  text-align: justify;
  text-justify: distribute;
  hyphens: auto;
  padding-top: 1em;
}

.border-line {
  margin: auto;
  width: 40%;
  padding-bottom: 2em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.arrowImgContainer {
  width: 49%;
  overflow: hidden;
  background: rgb(0, 0, 0);
  padding: 5em;
  transition: all 0.5s;
}

.arrowImgContainer a img {
  height: 300px;
  width: auto;
}

.article_header:hover .arrowImgContainer {
  width: 50%;
}

.atLeft {
  margin-right: auto;
  margin-right: 0;
  border-radius: 0 450px 450px 0;
}

.atRight {
  margin-left: auto;
  margin-right: 0;
  border-radius: 450px 0px 0px 450px;
}

.article_header:hover .article_title {
  font-weight: bolder;
}

.models3D {
  padding-bottom: 1em;
}

@media screen and (max-width: 1100px) {
  header {
    height: 300px;
  }

  .intro {
    width: 100%;
    height: auto;
    padding: 1em;
    text-align: left;
  }

  .intro p {
    font-size: 1.2rem;
    text-align: left;
    word-break: normal;
  }

  .subtitle {
    max-width: 100%;
    padding: 1em;
  }
  .subtitle p {
    font-size: calc(1.3rem + 3.6vw);
  }

  .title {
    width: fit-content;
    margin: auto;
    padding: 0;
  }

  .title p {
    font-size: calc(2.5rem + 3.6vw);
  }

  .article_title {
    width: 100%;
    font-size: calc(1rem + 2.6vw);
    margin-bottom: 0;
  }

  .article_header {
    display: block;
    align-items: center;
  }

  .arrowImgContainer {
    width: 100%;
    display: flex;
    overflow: none;
    background: rgb(0, 0, 0);
    margin: 1em 0;
    border-radius: 0;
    padding: 0;
    justify-content: center;
  }

  .arrowImgContainer a img {
    width: 100%;
    object-fit: contain;
  }

  .article_header:hover .arrowImgContainer {
    width: 100%;
  }

  .arrowinfo {
    padding: 0;
  }

  .arrowinfo p {
    font-size: 1.2rem;
    column-count: 1;
    padding: 1em;
  }

  .fauna_gallery {
    display: block;
    padding: 1em;
  }
}
