@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@200;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  background: no-repeat url(../media/liquid-cheese.svg);
  background-size: cover;
}

body {
  font-family: sans-serif;
  font-size: 16px;
}

.content {
  width: 100%;
  padding: 2%;
  background-color: rgba(240, 255, 240, 0.144);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  margin: auto;
  margin-bottom: 10px;
  border-radius: 6px;
}

.img {
  width: 100%;
  border-radius: 6px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.507);
}


.intro {
  
  background-color: rgba(255, 255, 255, 0.103);
  padding: 5%;
  border-radius: 6px;
   }

  .IntroResume{
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: 1.5rem;
    text-align: justify;
    text-justify: distribute;
    hyphens: auto;
  }
  

.maps{
  display: flex;
  justify-content: center;
  margin: auto;
  cursor: pointer;

}

.maps iframe{
  border-radius: 6px;
  box-shadow:
  0px 3px 10px 0px rgba(0, 0, 0, 0.8),
  0px 3px 10px 0px rgba(0, 0, 0, 0.8),
  0px 3px 10px 0px rgba(0,0,0,.8);
}
