@font-face {
  font-family: quicksand;
  src: url("../fonts/Quicksand/Quicksand-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Cabin Sketch";
  src: url("../fonts/Cabin_Sketch/CabinSketch-Bold.ttf");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  background: no-repeat url(../media/liquid-cheese.svg);
  background-size: cover;
}

body {
  font-family: sans-serif;
  font-size: 16px;
}

.content {
  padding: 2%;
  width: 100%;
  background-color: rgba(240, 255, 240, 0.144);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  margin: auto;
  margin-bottom: 10px;
  border-radius: 4px;
}

.img {
  width: 100%;
  border-radius: 4px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.507);
}

.intro {
  background-color: rgba(255, 255, 255, 0.404);
  padding: 3%;
  border-radius: 4px;
  margin: auto;
  margin-bottom: 2%;
}

.intro p {
  column-count: 2;
  font-family: quicksand;
  font-weight: 200;
  font-size: 1.4rem;
  text-align: justify;
  hyphens: auto;
}

#modelImg {
  float: right;
  margin: 2% 0 2% 2%;
  width: 300px;
}
#modelImg2 {
  float: left;
  margin: 2% 2% 2% 0;
  width: 100%;
}

#modelImg3 {
  margin: 2%;
  width: 100%;
}

.maps {
  display: flex;
  justify-content: center;
  margin: auto;
  cursor: pointer;
}

.maps iframe {
  border-radius: 4px;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.8),
    0px 3px 10px 0px rgba(0, 0, 0, 0.8), 0px 3px 10px 0px rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 1100px) {
  .intro p {
    column-count: 1;
    text-align: left;
    font-size: 1.3rem;
  }
}
