@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@200;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  background: no-repeat url(../media/liquid-cheese.svg);
  background-size: cover;
}

body {
  font-family: sans-serif;
  font-size: 16px;
}

.content {
  padding: 2%;
  width: 100%;
  background-color: rgba(240, 255, 240, 0.144);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  margin: auto;
  margin-bottom: 10px;
  border-radius: 6px;
}

.img {
  width: 100%;
  border-radius: 6px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.507);
}

.intro {
  background-color: rgba(255, 255, 255, 0.404);
  padding: 3%;
  border-radius: 6px;
  margin: 1%;
}

.intro p {
  column-count: 2;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  text-align: justify;
  text-justify: distribute;
  hyphens: auto;
}

#modelImg {
  float: right;
  margin: 2% 0 2% 2%;
  width: 300px;
}
#modelImg2 {
  float: left;
  margin: 2% 2% 2% 0;
  width: 100%;
}

#modelImg3 {
  margin: 2%;
  width: 100%;
}
.IntroResume {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 1.4rem;
  text-align: justify;
  text-justify: distribute;
  hyphens: auto;
}

.maps {
  display: flex;
  justify-content: center;
  margin: auto;
  cursor: pointer;
}

.maps iframe {
  border-radius: 6px;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.8),
    0px 3px 10px 0px rgba(0, 0, 0, 0.8), 0px 3px 10px 0px rgba(0, 0, 0, 0.8);
}
