@font-face {
  font-family: raleway;
  src: url("../fonts/Raleway/Raleway-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: oswald;
  src: url("../fonts/Oswald/Oswald-Regular.ttf");
  font-display: swap;
}

:root {
  --text-font-size: 1.4rem;
  --section-title-size: calc(1.3rem + 3.6vw);
  --arrow-title-size: 3rem;
  --basic-font: raleway, "sans-serif";
  --title-font: oswald, "sans-serif";
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  background: #ab8300bd;
  animation: fade 1s ease-out;
}
 
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

body {
  font-family: sans-serif;
  font-size: 16px;
}

header {
  height: 100vh;
  position: relative;
  background: url("../media/investigations/investigation.jpg") no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  padding-bottom: 2em;
}
.title {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: start;
  align-items: center;
}

.title p {
  font-family: var(--title-font);
  font-weight: 700;
  font-size: calc(1.5rem + 3.6vw);
  color: #260e00;
  text-align: center;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0 6px 6px 0;
  padding: 10px 10px 10px 25px;
}

.subtitle {
  margin: auto;
  padding: 4em;
}

.subtitle p {
  font-weight: 600;
  text-align: center;
  font-family: var(--title-font);
  font-size: calc(1.3rem + 3.6vw);
  color: #260e00;
}

.separator {
  margin: auto;
  padding-top: 2em;
  width: 50%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.wave-separator {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
}

.intro {
  padding: 2em 5em;
  margin: auto;
  width: 100%;
}

.intro p {
  font-family: raleway, sans-serif;
  font-size: 1.5rem;
  text-align: justify;
  text-justify: distribute;
  hyphens: auto;
}

.model_text_container {
  padding: 1em 5em;
  border-radius: 4px;
  margin-top: 10px;
}

.model_text_container p {
  font-family: raleway, sans-serif;
  font-size: 1.3rem;
  column-count: 2;
  column-gap: 1em;
  text-align: justify;
  hyphens: auto;
  -webkit-hyphens: auto;
}  

.model_middleText_img {
  margin: auto;
  padding: 1em 0;
  width: 100%;
}
.model_middleText_img div {
  width: 100%;
  background: url("../media/gallery/sites/localidad_arqueologica_pay_paso/piso_y_bifaz_ultradelgado.jpg") no-repeat;
  height: 500px;
  border-radius: 4px;
  background-position: bottom;
  background-size: 90%;
}

.maps {
  padding: 2em 5em;
  display: flex;
  justify-content: center;
  margin: auto;
  cursor: pointer;
}

.maps iframe {
  border-radius: 4px;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.8),
    0px 3px 10px 0px rgba(0, 0, 0, 0.8), 0px 3px 10px 0px rgba(0, 0, 0, 0.8);
}



@media screen and (max-width: 1100px) {
  .intro p {
    column-count: 1;
    text-align: left;
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 1100px) {
  header {
    height: 300px;
  }

  .intro {
    width: 100%;
    height: auto;
    padding: 1em;
  }

  .intro p {
    font-size: 1.2rem;
    text-align: left;
    word-break: normal;
  }

  .subtitle {
    max-width: 100%;
    padding: 1em;
  }
  .subtitle p {
    font-size: calc(1.3rem + 3.6vw);
  }

  .title p {
    font-size: calc(1rem + 3.6vw);
  }

  .model_text_container {
    padding: 1em;
    margin-top: 0px;
  }

  .model_text_container p {
    font-family: raleway, sans-serif;
    font-size: 1.3rem;
    column-count: 1;
    column-gap: 1em;
    text-align: justify;
    hyphens: auto;
    -webkit-hyphens: auto;
  }

  .maps {
    padding: 2em 0;
  }
}
