@font-face {
  font-family: raleway;
  src: url("../fonts/Raleway/Raleway-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: oswald;
  src: url("../fonts/Oswald/Oswald-Regular.ttf");
  font-display: swap;
}

:root {
  --text-font-size: 1.4rem;
  --section-title-size: calc(1.3rem + 3.6vw);
  --arrow-title-size: 3rem;

  --basic-font: raleway, "sans-serif";
  --title-font: oswald, "sans-serif";
}
font-family: var(--title-font);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  background: #ab8300bd;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  margin: auto;
}

.title {
  padding: 2%;
}

.title p {
  margin-top: 0;
  font-family: oswald, sans-serif;
  font-weight: 700;
  font-size: 7rem;
  color: #260e00;
  text-align: center;
  margin-bottom: 0;
}

.subtitle {
  margin: auto;
  max-width: 70%;
  margin-top: 4rem;
  margin-bottom: 2em;
}

.subtitle p {
  font-weight: 600;
  text-align: center;
  font-family: "oswald", sans-serif;
  font-size: calc(1.3rem + 3.6vw);
  color: #260e00;
}

@media screen and (max-width: 1100px) {
  .subtitle p {
    font-size: calc(1.3rem + 3.6vw);
  }

  .title {
    width: fit-content;
    margin: auto;
    margin-top: 50px;
  }

  .title p {
    font-size: calc(1.3rem + 3.6vw);
  }
}

.styckyActive {
  margin-top: 400px;
}

.booksSection {
  font-family: raleway, sans-serif;
  margin: auto;
  border-radius: 4px;
}

.book_chapters {
  font-family: raleway, sans-serif;
  margin: auto;
  width: 100%;
  text-align: justify;
  text-justify: distribute;
  hyphens: auto;
}

.img {
  width: 100%;
  border-radius: 4px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.507);
}

.press_content {
  padding: 1em;
  margin: auto;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  border-radius: 4px;
  gap: 10px;
}

.item1 {
  grid-column: 1 / 3;
}

.item4 {
  grid-column: 2/4;
}

.item10 {
  grid-column: 2/4;
}

#network_list {
  display: flex;
  padding: 1em;
  justify-content: center;
  gap: 1em;
  max-width: 500px;
}

.info_container img {
  width: 100%;
  filter: grayscale(100%);
}

.info_container:hover img {
  filter: grayscale(0%);
}

@media screen and (max-width: 1100px) {
  .press_content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
