@font-face {
  font-family: raleway;
  src: url("../fonts/Raleway/Raleway-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: oswald;
  src: url("../fonts/Oswald/Oswald-Regular.ttf");
  font-display: swap;
}

:root {
  --text-font-size: 1.4rem;
  --section-title-size: calc(1.3rem + 3.6vw);
  --arrow-title-size: 3rem;
  --basic-font: raleway, "sans-serif";
  --title-font: oswald, "sans-serif";
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  background: #c0a342;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  margin: auto;
}

header {
  height: 100vh;
  position: relative;
  background: url("../media/activities/9-DIFUSI-N.jpg") no-repeat;
  background-size: cover;
  background-position: top;
  padding-bottom: 2em;
}
.wave-separator {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
}

.bottom-wave-separator {
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 5%);
  z-index: 1;
}

.top-wave-separator {
  width: 100%;
  height: 20px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -5%);
  z-index: 1;
}

.title {
  padding: 2em;
}

.title p {
  font-family: var(--title-font);
  font-weight: 700;
  font-size: calc(7rem + 3.6vw);
  color: #260e00;
  text-align: center;
  margin-bottom: 0;
  margin-top: 15%;
}

.subtitle {
  margin: auto;
  max-width: 70%;
  margin-top: 4rem;
  margin-bottom: 2em;
}

.subtitle p {
  font-weight: 600;
  text-align: center;
  font-family: var(--title-font);
  font-size: calc(1.3rem + 3.6vw);
  color: #260e00;
}

.press_content {
  background: #c0a342 url("../media/radiant-gradient.svg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5em;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
}

.item1 {
  grid-column: 1 / 3;
}

.item4 {
  grid-column: 2/4;
}

.item10 {
  grid-column: 2/4;
}

#network_list {
  display: flex;
  padding: 1em;
  justify-content: center;
  gap: 3em;
  max-width: 500px;
  margin: auto;
}

.info_container img {
  width: 100%;
  filter: grayscale(100%);
  transition: all 0.4s;
  border-radius: 4px;
}

.info_container:hover img {
  filter: grayscale(0%);
  animation: lightRotation 1s infinite;
}

@keyframes lightRotation {
  50% {
    transform: rotate(5deg);
  }
}

@media screen and (max-width: 1100px) {
  header {
    height: 300px;
  }

  .press_content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
  }

  .subtitle p {
    font-size: calc(2.3rem + 3.6vw);
  }

  .title {
    margin-top: 10vh;
    width: fit-content;
    margin: auto;
  }

  .title p {
    font-size: calc(2rem + 3.6vw);
    margin-top: 20%;
  }
}
