@font-face {
  font-family: quicksand;
  src: url("../fonts/Quicksand/Quicksand-VariableFont_wght.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Cabin Sketch";
  src: url("../fonts/Cabin_Sketch/CabinSketch-Bold.ttf");
  font-display: swap;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  background: #ab8400;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  margin: auto;
}

.title {
  padding: 2%;
}

.title p {
  margin-top: 0;
  font-family: "Cabin Sketch", sans-serif;
  font-weight: 700;
  font-size: 7rem;
  color: rgb(255, 255, 255);
  text-align: center;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
  margin-bottom: 0;
}

.subtitle {
  margin: auto;
  max-width: 70%;
  margin-top: 4rem;
  margin-bottom: 2em;
}

.subtitle p {
  text-align: center;
  font-weight: 700;
  font-family: "Cabin Sketch", sans-serif;
  font-size: calc(1.3rem + 3.6vw);
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

@media screen and (max-width: 1100px) {
  .subtitle p {
    font-size: calc(1.3rem + 3.6vw);
  }

  .title {
    width: fit-content;
    margin: auto;
    margin-top: 50px;
  }

  .title p {
    font-size: calc(1.3rem + 3.6vw);
  }
}

.styckyActive {
  margin-top: 400px;
}

.content {
  font-family: quicksand, sans-serif;
  margin: auto;
  width: 95%;
  border-radius: 4px;
}

.book_chapters {
  margin: auto;
  width: 95%;
  background-color: rgba(255, 255, 255, 0.575);
  padding: 2%;
  border-radius: 4px;
  text-align: justify;
  text-justify: distribute;
  hyphens: auto;
}

.img {
  width: 100%;
  border-radius: 4px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.507);
}

.press_content {
  padding: 1em;
  margin: auto;
  width: 95%;
  height: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: rgba(240, 255, 240, 0.384);
  border-radius: 4px;
  gap: 10px;
}

.item1 {
  grid-column: 1 / 3;
}

.item4 {
  grid-column: 2/4;
}

.item10 {
  grid-column: 2/4;
}

#network_list {
  display: flex;
  padding: 1em;
  justify-content: center;
  gap: 1em;
  max-width: 500px;
}

.info_container img {
  width: 100%;
  filter: grayscale(100%);
}

.info_container:hover img {
  filter: grayscale(0%);
}

@media screen and (max-width: 1100px) {
  .press_content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
