#rafael {
  width: 100%;
}

#rafael img {
  width: 100%;
}

#ref {
  text-decoration: none;
  color: black;
}
#ref:hover {
  color: green;
}

.hide {
  display: none;
}

.profile_card {
  display: flex;
  font-family: raleway, sans-serif;
  justify-content: center;
  transition: box-shadow 0.5s;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 1em;
  min-width: 350px;
  min-height: 350px;
  transition: all 0.3s;
}

.profile_card:hover {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
  background: #c2a23b;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.imgNameContainer {
  min-width: 250px;
  padding-top: 1em;
}

.imgContainer {
  margin: auto;
  max-width: fit-content;
  height: 200px;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 1em;
  box-shadow: 1px 2px 2px;
}

.imgContainer img {
  height: 100%;
}

.name {
  font-size: 1.6rem;
  text-align: center;
  margin: 0;
}

.bio-wrapper {
  animation: fadeIn 1s;
  animation-fill-mode: forwards;
  padding: 1em 1em;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.bio {
  margin: 0;
  margin-left: 1em;
  font-size: 1.3rem;
  text-align: justify;
  text-justify: distribute;
  hyphens: auto;
}

@media screen and (max-width: 1100px) {
  .profile_card {
    min-width: 300px;
    padding: 0;
    padding-top: 1em;
    display: block;
    border-radius: 4;
    margin: 5px 0;
  }
  .name {
    font-size: 1.5rem;
  }

  .bio {
    font-size: 1.2rem;
    margin: 0;
    text-align: left;
  }
}
